[submodule "Hocki_PIO/lib/sbus-arduino"]
	path = Hocki_PIO/lib/sbus-arduino
	url = https://github.com/bolderflight/sbus-arduino.git
[submodule "Hocki_PIO/include/eigen"]
	path = Hocki_PIO/lib/eigen/
	url = https://github.com/moritzmaier/Eigen.git
[submodule "Hocki_PIO/lib/WDT_T4"]
	path = Hocki_PIO/lib/WDT_T4
	url = https://github.com/tonton81/WDT_T4.git
[submodule "Hocki_PIO/lib/Eigen"]
	path = Hocki_PIO/lib/Eigen
	url = https://github.com/moritzmaier/Eigen.git
